.admin-content__dropdown {
    @extend %input-reset;
    margin-bottom: $spacing*2;
    border-color: $admin-content__dropdown-border-clr;
    border-radius: $spacing/3;
    padding: ($spacing/3)*2;
    font-size: $admin-content__dropdown-text-size;
    color: $admin-content__dropdown-text-clr;
}
