.admin-header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 $spacing;
    background-color: $admin-header_bg-clr;
}
