.admin-page {
    @extend %reset;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header     header"
        "nav        content";
}
