html { height: 100%;}
body { min-height: 100%;}

%reset {
    box-sizing: border-box;
    display: block;
    margin: 0;
    outline: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: auto;

    line-height: 1;
    font-family: $font_global;
    font-size: 1em;
}
%btn_reset {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    outline: 0;
    border: 0;
    padding: 0;
    width: auto;
    height: auto;
    background-color: $clr_none;
}
%form-reset {
    @extend %reset;
}
%heading-reset {
    @extend %text-reset;
}
%input-reset {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-family: $font_global;
    &:focus {
        outline: 0;
    }
}
%link-reset {
    @extend %reset;
    text-decoration: none;
}
%list-reset_hidden {
    @extend %reset;
    list-style-type: none;
}
%text-reset {
    @extend %reset;
    font-weight: normal;
}
