// VARIABLES
$spacing: 15px;

$clr_none: rgba(255, 255, 255, 0);
$clr_white: rgba(255, 255, 255, 1);
$clr_silver: rgba(236, 238, 239, 1);
$clr_grey: rgba(149, 152, 154, 1);
$clr_charcoal: rgba(55, 58, 60, 1);
$clr_blue: rgba(28, 124, 213, 1);

$font_global: helvetica, arial, sans-serif;

/* GLOBAL */
@import "bem/reset";

/* ADMIN HEADER */
$admin-header_bg-clr: $clr_charcoal;

$admin-header__btn_text-size: 12px;
$admin-header__btn_txt-clr: $clr_white;

$admin-header__title_txt-clr: $clr_white;
$admin-header__title_txt-size: 16px;

@import "bem/admin-page";
@import "bem/admin-header";
@import "bem/admin-header__btn";
@import "bem/admin-header__title";

/* ADMIN NAVIGATION */
$admin-nav_bg-clr: $clr_silver;

$admin-nav__link_text-clr: $clr_blue;
$admin-nav__link_text-size: 12px;
$admin-nav__link-bg-clr_hover: $clr_blue;
$admin-nav__link-text-color_hover: $clr_white;

$admin-nav__title_text-size: 17px;

@import "bem/admin-nav";
@import "bem/admin-nav__heading";
@import "bem/admin-nav__list";
@import "bem/admin-nav__item";
@import "bem/admin-nav__link";

/* ADMIN CONTENT */
$admin-content__btn-text-size: 12px;
$admin-content__btn-bg-clr_cta: $clr_blue;
$admin-content__btn-text-clr_cta: $clr_white;

$admin-content__dropdown-border-clr: $clr_silver;
$admin-content__dropdown-text-clr: $clr_grey;
$admin-content__dropdown-text-size: 12px;

$admin-content__heading-text-size: 28px;

$admin-content__input-border-clr: $clr_silver;
$admin-content__input-outline-clr_focus: $clr_blue;
$admin-content__input-placeholder-clr: $clr_grey;
$admin-content__input-text-clr: $clr_grey;
$admin-content__input-text-size: 12px;

$admin-content__paragraph-text-size: 12px;
$admin-content__paragraph-text-size_small: 9px;
$admin-content__paragraph-text-clr_small: $clr_grey;

@import "bem/admin-content";
@import "bem/admin-content__heading";
@import "bem/admin-content__form";
@import "bem/admin-content__paragraph";
@import "bem/admin-content__input";
@import "bem/admin-content__dropdown";
@import "bem/admin-content__btn";
